#
# Atmel SAMV71 Xplained evaluation kit.
# http://www.atmel.com/tools/ATSAME70-XPLD.aspx
#
# Connect using the EDBG chip on the dev kit over USB
source [find interface/cmsis-dap.cfg]

set CHIPNAME samv71

source [find target/atsamv.cfg]

reset_config srst_only
