[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "lib/extern/kronos-packet"]
	path = lib/extern/kronos-packet
	url = https://github.com/space-concordia-spacecraft/kronos-packet
